body { margin: 0; padding: 20px; }

#outline { margin: 0 auto; overflow: auto; width: 960px; }

#wrapper { overflow: auto; margin: 0 auto; width: 930px; }

#header {
    float: left;
    height: 180px;
    padding: 15px 20px 0 20px;
    width: 890px;
}

#headerBox {
	background: url(trans-headerbox.png) repeat;
	position: absolute;
	height: 125px;
	margin: 0 0 0 575px;
	padding: 5px 10px;
	width: 300px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#navTop {
    float: left;
    font-size: 85%;
    line-height: 2em;
    padding: 10px 20px;
    width: 890px;
}

#navTop ul li { /* all list items */
	float: left;
	margin-right: 0;
	width: auto; /* width needed or else Opera goes nuts */
}

#navTop li ul { /* second-level lists */
	position: absolute;
	background: orange;
	margin: 36px 0 0 0;
	width: 220px;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}


#navTop li ul li a {
	display: block;
	line-height: 1.3em;
	width: 200px;
}

#navTop li:hover ul, #navTop li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

/* FONTS */

body { font: normal 16px/1.3em arial, helvetica, sans-serif; }

#header, #leftColumn-layout1, #leftColumn-layout2, #leftColumn-layout3, #rightColumn-layout1, #rightColumn-layout2, #rightColumn-layout3, #mainColumn-layout4, #footer 
{
    font-size: 85%;
}

/* LAYOUT 1 SIDEBAR RIGHT */

#leftColumn-layout1 {
    float: left;
    margin: 20px;
    min-height: 550px;
    width: 640px;
}

#rightColumn-layout1 {
    float: left;
    margin: 20px 20px 20px 0;
    min-height: 550px;
    width: 230px;
}

/* LAYOUT 2 SIDEBAR LEFT */

#leftColumn-layout2 {
	float: left;
    margin: 20px 0 20px 20px;
    min-height: 550px;
    width: 230px;
}

#rightColumn-layout2 {
    float: left;
    margin: 20px;
    min-height: 550px;
    width: 640px;	
}

/* LAYOUT 3 SIDEBAR LEFT AND RIGHT */

#leftColumn-layout3 {
	float: left;
    margin: 20px 0 20px 20px;
    min-height: 550px;
    width: 190px;
}

#mainColumn-layout3 {
    float: left;
    font-size: 85%;
    margin: 20px;
    min-height: 550px;
    width: 470px;	
}

#rightColumn-layout3 {
	float: left;
    font-size: 85%;
    margin: 20px 20px 20px 0;
    min-height: 550px;
    width: 190px;
}

/* LAYOUT NO COLUMNS */

#mainColumn-layout4 {
    float: left;
    margin: 20px;
    min-height: 550px;
    width: 890px;	
}

/* FOOTER */

#footer {
    float: left;
    line-height: 2em;
    padding: 10px 0 0;
    text-align: center;
    width: 100%;
}

/* NAVIGATION TOP */

#navTop ul { list-style: none; margin: 0; padding: 0; }
#navTop li { display: inline; margin: 0 2px 0 0; padding: 0;  }

#navTop a {
    clear: right;
    color: #fff;
    display: block;
    float: left;
	letter-spacing: 1px;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    white-space: nowrap;
}

/* NAVIGATION SIDEBAR */

#sidebar { margin-bottom: 16px; }

#sidebar ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li a {
	padding: 5px;
	font-weight: normal;
	text-decoration: none;
	display: block;
	width: 100%;
}

html>body #sidebar li a { width: auto; }

/* SITE STYLES */

h1, h2, h3, h4 {
    font-weight: normal;
    line-height: 1.1em;
    margin: 0 0 16px 0;
    padding: 0:
}

h1 { font-size: 500%; text-shadow: 4px 4px 4px #000000; }
h2 { font-size: 200%; }
h3 { font-size: 170%;}
h4 { font-size: 130%; }

p { margin: 0 0 16px 0; padding: 0; }

a {
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: underline; 
}

a:hover { text-decoration: none; }

b, strong { letter-spacing: 1px; }

img { border: 0; }

/* CLASSES */

.border { padding: 5px 10px; }

img.left { float: left; margin: 6px 10px 6px 0; }
img.right {	float: right; margin: 6px 0 6px 10px;}
img.center { display: block; margin: 6px auto; text-align: center; }

.submit:hover, img:hover { 
	opacity:.60; 
	filter: alpha(opacity=60); 
	-moz-opacity: 0.60; 
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* BLOCKS */

.blockRow {
	display: inline;
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.block-25 { float: left; width: 25%; }
.block-33 { float: left; width: 33.33%; }
.block-66 { float: left; width: 66.66%; }
.block-50 { float: left; width: 50%; }
.block-75 { float: left; width: 75%; }

/* FORM */

.form {	float: left; margin-bottom: 16px; width: 100%; }
.formLeft {	float: left; line-height: 2.5em; margin-right: 10px; width: auto; }
.formRight { float: left; line-height: 2.5em; width: auto; }

input, textarea { padding: 5px; }
input { width: 200px; }
textarea { height: 200px; margin-top: 3px; width: 400px; }

.submit { 
	font-weight: bold; 
	letter-spacing: 1px;
	width: auto; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 3px 3px 3px #999;
	-moz-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;
}

.colors { float: left; width: 100%; }
.colors ul { margin: 0; padding: 0; }

.colors li {
	float: left;
	display: inline;
	height: 90px;
	margin: 0 10px 10px 0;
	padding: 5px;
	list-style: none;
	width: 90px;
}
#head_nav {

}
#head_nav ul{
   list-style-type:none;
   margin:0;
   padding:0;
   display: inline;
}
#head_nav ul li{
   display: inline;
}

#login_menu{
    background:#aaaaaa;
    border:solid 1px #666666;
    width:400px;
    padding:10px;
    color:#FFFFFF;
    position:absolute;
    font-weight:bold;
    font-size:12px;
    line-height:18px;
    height: 175px;
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 200px;
}
#login_menu li{
    padding-bottom:6px;
    text-align:right;
}
#new-user-col{
    padding-right:10px;
    border-right:1px #DEDEDE solid;
    height:120px;
    width:100px;
    float:left;
    line-height:12px;
}
#signup-user-col{
    padding-left:20px;
    height:120px;
    width:200px;
    float:left;
    line-height:12px;
    text-align:right;
}
#login_menu label{font-size:11px; font-weight:normal;}
#login_menu input{font-size:11px; color:#333333; margin-left:10px;}

/*------ Button ------ */
#login_menu button{
    line-height:24px;
    float:right;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
}

.green-button{
    display:block;
    color:#FFFFFF;
    font-size:11px;
    text-decoration:none;
    width:81px;
    height:26px;
    line-height:24px;
    text-align:center;
}

/*------ Spacer ------ */
.spacer{clear:both; height:1px;}
